html {
    // height: 100%;
    width: 100%;

    font-size: 1.35rem;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    hyphens: auto !important;
    text-align: justify !important;
    text-align-last: none !important;
}

h1,h2,h3,h4,h5,h6 {
  text-align: left !important;
}

img {
    max-width: 98%;
}

pre {
  padding: 1.25rem;
  padding-top: 0.45rem;
  padding-bottom: 1rem;
  border-radius: 8px;
}

.viewMoreButton {
	background: linear-gradient(to bottom, darken(#c7309c, 0%) 5%, darken(#c7309c, 2%) 100%);
	background-color: darken(#6610f2, 10%);
	border-radius: 28px;
	border: 1px solid darken(#6610f2, 12%);
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 1em;
  font-weight: bold;
	padding: 20px 60px;
	text-decoration:none;
}

.viewMoreButton:hover {
  background: linear-gradient(to bottom, darken(#c7309c, 5%) 5%, darken(#c7309c, 7%) 100%);
  text-decoration: none;
  color: white;
}

.spacer {
    margin-top: 550px;
}

.spacer-section {
  margin-top: 50px;
}

.spacer-special {
  margin-top: 120px;
}

.spacer-xs {
    margin-top: 120px;
}

.spacer-xxs {
  margin-top: 90px;
}

.annotation {
    font-size: 0.55rem;
}

.copyright {
    color: rgba(255,255,255,.55);
    font-size: 0.75rem;
}

.socials {
  color: rgba(255,255,255,.55);
  font-size: 2.25rem;
}

$breakpoint-alpha: 480px; // adjust to your needs

table {
  font-size: 0.75em;
  margin: 1em 0;
  min-width: 100%; // adjust to your needs

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }
}

table {
  background: darken(#6610f2, 10%);
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 0.5em !important; 
    }
  }
  th, td:before {
    color: white;
  }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #6f42c1;
    -webkit-box-shadow: inset 0 0 6px #6f42c1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#6710f244;
    box-shadow: inset 0 0 6px #6f42c1;
    -webkit-box-shadow: inset 0 0 6px #6f42c1;
}

::-webkit-scrollbar-corner {
    background-color:transparent;
}